<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
       <link href="/css/style.css" rel="stylesheet" type="text/css">
 
 <h2>URL Shortener</h2>
 </br>
 <div>
     <p class="indent">Please add url to end of root url to get your shortener.</p>
     <p class="indent"><span class="term">Example: </span><%= root %>/<span class="emphasize">new/https://google.com</span></p>
</div>
</body>