<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shorten Your URL</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
 <h2>URL Shortener</h2>
 </br>
 <div>
     <p class="indent">Please add url to end of root url to get your shortener.</p>
     <p class="indent"><span class="term">Example: </span><%= root %>/<span class="emphasize">new/https://google.com</span></p>
</div>
</body>