<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shorten Your URL</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
 <h2>URL Shortener</h2>
 </br>
 <div>
     <p class="indent"><span class="term">shortened url: </span><a href="<%= longURL%>"><%= shortURL %></a>
     <p class="indent"><span class="term">original url: </span><%= longURL %></p>
</div>
</body>

