<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
 <h3>Url Shortener</h3>
 </br>
 <div>
     <p>Sorry, <%= shortHash %> is not a valid shortened url. Please try again.</p>
     <p>Example: https://shorten-your-url.herokuapp.com/new/https://google.com</p>
</div>